html,
body {
      margin: 10;
      padding: 0;
      width: 100vw;
      height: 100vh;
      background-image: url(https://i.pinimg.com/originals/a9/c3/86/a9c386e225f9f39f8d448d59c7d5eab5.gif);
      font: 16px Courier;
}

body {
  background-color: black;
  color: green;
  font-size: 18px;
  
  
}

.hack {
  font-size: 56px;
  text-align: center;
  color: red;
 
}

.smooth {
  transition: ease .5s;
}
